# terraform plugin cache
**/.terraform
# terraform lock
**/.terrafowm.lock.hcl
**/.terraform.tfstate.lock.info
# terraform state files, which don't belong in git.
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
# the ssh folder
ssh
# the local auto.tfvars
*auto.tfvars
# the providers folder
providers
# terraform plan output file
plan